.wrapper{
 width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  gap: 30px;
}
.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.inputs label{
  font-size: 18px;
}
.inputs input{
  font-size: 18px;
  width: 50%;
  height: 30px;
  font-size: 18px;
  padding: 10px;
}

.inputs select{
  font-size: 18px;
  width: 30%;
  height: 40px;
  font-size: 18px;
  padding: 10px;
}

.btnwrapper{

  width: 50%;
  justify-content: center;
}
.btnWrapper button{
  height: 40px;
  width: 100%;
  border: none;
  background-color: rgb(32, 130, 19);
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.tablewrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.tablewrapper table tr {
  padding: 30px;
}